:root {
  --white: #fff;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
}

main {
  overflow-x: hidden;
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.orange-text {
  color: var(--main);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.bg-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-light::before,
.bg-trans-dark::before,
.bg-brown::before {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.bg-brown {
  background-color: var(--brown);
}

.bg-light {
  background-color: var(--light);
}

.bg-black::before {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background: var(--main-dark);
  content: "";
}

.header-column-holder {
  display: flex;
}

.header-column {
  position: relative;
  width: 100%;
  text-align: left;
}

header h1:nth-child(2) {
  z-index: 300;
  padding-bottom: 200px;
}

.header-title {
  position: relative;
  z-index: 500;
}

.text-holder {
  display: flex;
}

.text-block {
  width: 540px;
}

.text-block:first-child {
  margin-right: 30px;
}

.main-img {
  position: absolute;
  bottom: -15px;
  left: 296px;
  z-index: 100;
  height: 525px;
  vertical-align: middle;
}

.header-img-holder {
  position: relative;
  width: 30%;
}

.main-btn {
  display: block;
  width: min-content;
  margin-top: 40px;
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: unset;
  background-color: var(--main);
  transition: 0.3s;
}

.main-btn:hover {
  box-shadow: rgb(158 158 158 / 20%) 0 7px 29px 0;
  filter: brightness(0.8);
}

.shift-bottom {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-container {
  height: auto;
  padding: 0;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigator {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}

#first-block {
  width: 350px;
  padding: 0;
  color: #fff;
  background-color: unset;
}

.nav-block {
  position: relative;
  width: 302px;
  height: auto;
  margin-bottom: 30px;
  padding: 24px;
  background-color: var(--light);
  transition: 0.3s;
}

.nav-block a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

a {
  color: unset;
  text-decoration: unset;
}

.nav-block:nth-child(3n+2) {
  margin: 30px;
  margin-top: 0;
}

.card-num {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.nav-block:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 7px 29px 0;
  cursor: pointer;
  filter: brightness(0.8);
  scale: 1.009;
}

#first-block:hover {
  box-shadow: unset;
  cursor: unset;
  filter: brightness(1);
  scale: 1;
}

.column-holder {
  display: flex;
  flex-flow: row wrap;
  width: inherit;
  padding-bottom: 100px;
  column-count: 2;
  column-gap: 30px;
  row-gap: 30px;
}

.block-img {
  height: 434px;
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.column {
  width: 502px;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 41px;
}

.column h2 {
  margin-bottom: 30px;
}

.subtitle {
  color: #908d8b;
  font-size: 24px;
  line-height: 29px;
}

.separator {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 5px 10px;
  padding-bottom: 4px;
  color: #fff;
  background-color: var(--brown);
}

.separator h3 {
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1110px;
  margin: auto;
  padding: 0 165px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 80px);
  padding: 40px;
  background: var(--main-dark);
}

.updates-text {
  display: flex;
  align-items: center;
  margin: 15px;
  color: #fff;
}

.email-holder {
  color: #fff;
  font-size: 18px;
}

.input-holder {
  display: flex;
  margin-top: 9px;
}

input {
  width: 397px;
  height: 50px;
  padding: 0 15px;
  color: #757575;
  font-size: 13.1px;
  background-color: #fff;
  border: unset;
}

.email-btn {
  position: relative;
  width: 70px;
  height: 50px;
  margin-right: 15px;
  background-color: var(--main);
  transition: 0.3s;
}

.email-btn::before {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 50px;
  height: 50px;
  content: url("../images/send.svg");
}

.email-btn:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.rules-holder {
  font-size: 12px;
}

.rules-holder a {
  color: #fff;
  text-decoration: underline;
}

.contacts {
  padding-top: 60px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.contacts a {
  color: var(--blue);
  text-decoration: underline;
}

.rules-holder a:hover {
  filter: brightness(0.8);
}

.contacts a:hover {
  filter: brightness(0.8);
}
